html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
//  footer bottom ======
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
// =======================

@font-face {
	font-family: "Myriad Pro Regular";
	src: url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

a {
	display: inline-block;
	text-decoration: none;
	color: $slate;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	overflow-x: hidden;
}
.page-content {
	background-color: $light-grey;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 60px;
	color: $bg-dark;
	text-align: center;
	margin-bottom: 33px;
}
.rate-star {
	display: inline-block;
	margin-right: 13px;
	padding: 0;
}
.breadcrumbs {
	&__inner {
		padding: 45px 0 40px;
	}

	&__list {
		li {
			display: inline-block;
			position: relative;
			& + li {
				padding-left: 24px;
				&::before {
					content: "-";
					position: absolute;
					left: 8px;
					color: $booger;
				}
			}
			&:last-child {
				a,
				span {
					color: $bg-dark;
				}
			}
		}
		a {
			color: $cool-grey;
		}
	}
}
.angle-right {
	position: relative;
	padding-left: 15px;
	&::before {
		content: "\f105";
		@include icon;
		position: absolute;
		left: 0;
		color: $booger;
		font-size: 14px;
	}
}

.head-title__page {
	width: 100%;
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
	font-size: 24px;
	font-weight: 500;
	color: #263238;
	line-height: 24px;
	padding: 21px 28px;
}
