@import "vars";
@import "global";
@import "fonts";

// HEADER ===================================================

.header {
	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
	}
	&__text {
		margin-left: auto;
		margin-right: 52px;
		font-weight: 400;
		color: #546e7a;
		& span {
			color: #e74c3c;
		}
	}
	&__phone {
		color: #546e7a;
	}
	&__box {
		font-weight: 400;
	}
	&__btn {
		padding: 4px;
		width: 72px;
		border-radius: 4px;
		text-align: center;
		font-size: 12px;
		line-height: 24px;
		&-login {
			background-color: $booger;
			color: #fff;
		}
		&-register {
			background-color: $tomato;
			color: #fff;
		}
	}
	&__menu {
		background-color: $bg-dark;
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		height: 60px;
	}
	& li {
		display: block;
		& + li {
			margin-left: 38px;
		}
		& a {
			color: #fff;
			font-size: 14px;
			transition: all 0.4s;
			&:hover {
				color: $tomato;
			}
		}
	}
}

//  SEARCH =====================================================

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 536px;
	&.search__product-page {
		min-height: 230px;
		.search__inner {
			padding: 60px 0 68px;
			&-text {
				margin-bottom: 24px;
			}
		}
	}
	&__inner {
		text-align: center;
		color: #fff;
		padding: 156px 0 100px;
	}

	&__inner-title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 28px;
	}

	&__inner-text {
		font-size: 20px;
		margin-bottom: 50px;
	}

	&__inner-form {
		position: relative;
		margin: 0 auto;
		max-width: 670px;
	}
	& input {
		width: 100%;
		height: 56px;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 1px 10px 0 rgba(124, 178, 64, 0.75);
		font-size: 14px;
		font-weight: 500;
		padding-left: 25px;
		padding-right: 57px;
		&::placeholder {
			color: #90a4ae;
		}
	}
	& button {
		position: absolute;
		border: none;
		right: 13px;
		top: 15px;
		background-color: transparent;
		cursor: pointer;
	}
}

// PRODUCTS ==================================================

.products {
	padding: 121px 0 112px;
	background-color: $light-grey;
	&__inner-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner-btn {
		text-align: center;
		margin-bottom: 60px;
		& button {
			font-size: 14px;
			font-weight: 500;
			border: none;
			color: $bg-dark;
			padding: 12px 21px;
			background-color: #fff;
			cursor: pointer;
			& + button {
				margin-left: 6px;
			}
			&.mixitup-control-active {
				background-color: $tomato;
				color: #fff;
				outline: none;
			}
		}
	}
}
.product {
	&__item {
		max-width: 442px;
		width: 100%;
		box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
		margin-bottom: 30px;
	}

	&__item-mig {
		min-height: 250px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		background-color: #fff;
		border-bottom: 1px solid #e7ecf2;
	}

	&__item-name {
		min-width: 310px;
		font-weight: 500;
	}

	&__item-title {
		font-size: 18px;
		line-height: 35px;
		color: $bg-dark;
	}

	&__item-category {
		display: block;
		font-size: 14px;
		color: $booger;
	}

	&__item-price {
		font-size: 20px;
		color: $bg-dark;
	}

	&__item-info {
		min-height: 70px;
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
	}

	&__item-autor {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		min-width: 245px;
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			margin-right: 14px;
		}
	}

	&__item-star {
		color: #e1e6e9;
		font-size: 12px;
		white-space: nowrap;
		& span {
			color: $bg-dark;
		}
	}
}
.products__bottom-btn {
	text-align: center;
	button {
		margin: 45px 5px 0;
		box-shadow: 0px 1px 3px 0 rgba(204, 216, 228, 0.75);
		border: none;
		background-color: #fff;
		color: $bg-dark;
		padding: 20px 30px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $tomato;
			color: #fff;
			outline: none;
		}
	}
}

// SLIDER ================================================================

.slider {
	padding: 120px 0;
}
.slick-dots {
	text-align: center;
	margin-top: 60px;
	& li {
		display: inline-block;
		margin: 0 3px;
		&.slick-active {
			button {
				background-color: $booger;
			}
		}
		& button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: none;
			background-color: #e8e8e8;
			font-size: 0;
			outline: none;
			cursor: pointer;
		}
	}
}

// ADVENTAGES  ===========================================

.advantages {
	background-color: $bg-dark;
	min-height: 616px;
	padding: 120px 0 118px;
	&__title {
		color: #fff;
		margin-bottom: 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		text-align: center;
		max-width: 370px;
		padding: 0 20px;
		&:hover {
			.advantages__item-img {
				background-color: $booger;
				& svg {
					fill: #fff;
				}
			}
			.advantages__item-title {
				color: $booger;
			}
		}
	}

	&__item-img {
		width: 113px;
		height: 113px;
		background-color: #fff;
		margin: 0 auto 33px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.4s;
		& svg {
			transition: all 0.4s;
		}
	}

	&__item-title {
		color: #fff;
		font-size: 24px;
		margin-bottom: 26px;
		transition: all 0.4s;
	}

	&__item-text {
		color: $cool-grey;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
	}
}

// AUTOR  ================================================

.autor {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 761px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		max-width: 653px;
		width: 100%;
		min-height: 216px;
		background-color: $booger;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 70px 60px;
	}

	&__text {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		max-width: 300px;
		color: #fff;
		& span {
			font-weight: 700;
		}
	}

	&__btn {
		background-color: #fff;
		color: $bg-dark;
		font-size: 18px;
		line-height: 2;
		font-weight: 400;
		padding: 13px 40px;
		text-align: center;
	}
}

//   TUTORIALS  =========================================================

.tutorials {
	padding: 66px 0 121px;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 370px;
		width: 100%;
	}

	&__images {
		display: block;
		min-height: 270px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__text {
		font-size: 24px;
		font-weight: 700;
		line-height: 2.5;
		color: $bg-dark;
		background-color: #f8f8f8;
		text-align: center;
		padding: 18px 60px;
	}
}

// FOOTER  ===============================================================

.footer {
	background-color: $bg-dark;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 115px 0 150px;
	}

	&__col {
		max-width: 270px;
		width: 100%;
		&-menu {
			max-width: 220px;
		}
	}

	&__col-title {
		font-family: "Raleway", sans-serif;
		font-size: 22px;
		color: #fff;
		line-height: 1.09;
		padding-bottom: 27px;
		margin-bottom: 30px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $booger;
		}
	}

	&__col-text {
		color: $silver;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.6;
	}

	&__info {
		font-family: "Lato", sans-serif;
		font-size: 14px;
		line-height: 1.71;
		color: #fff;
		padding-left: 30px;
		position: relative;
		&::before {
			content: "\f041";
			position: absolute;
			left: 0;
			@include icon;
			font-size: 18px;
			color: $booger;
		}
	}

	&__info-address {
		margin-top: 24px;
	}

	&__info-phone {
		margin-top: 15px;
		&::before {
			content: "\f095";
		}
	}

	&__col-list li {
		margin-bottom: 17px;
		position: relative;
		& a {
			font-size: 15px;
			color: $silver;
			padding-left: 20px;
			&::before {
				content: "\f105";
				@include icon;
				color: $booger;
				font-size: 18px;
				position: absolute;
				left: 0;
			}
		}
	}

	&__social-link {
		margin-bottom: 33px;
		li {
			display: inline-block;
			+ li {
				margin-left: 7px;
			}
			a {
				width: 28px;
				height: 28px;
				background-image: url(../images/icons/css_sprites.png);
			}
		}
	}

	&__form {
		position: relative;
		input {
			background-color: #2f3c43;
			border: none;
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 2.57;
			padding: 3px 60px 3px 16px;
			border-top: 1px solid #000;
			color: #fff;
			&::placeholder {
				color: #697378;
			}
		}
		button {
			width: 48px;
			height: 41px;
			background-color: $booger;
			position: absolute;
			right: 0;
			bottom: 0;
			border: none;
			cursor: pointer;
			&::before {
				content: "\f124";
				position: absolute;
				bottom: 10px;
				left: 15px;
				@include icon;
				font-size: 20px;
				color: #fff;
			}
		}
	}

	&__form-title {
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		line-height: 1.8;
		margin-bottom: 17px;
	}

	&__copy {
		border-top: 1px solid #424d53;
		padding: 19px 0;
	}

	&__copy-text {
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		color: #919699;
		line-height: 2.4;
	}
}

.link-twitter {
	background-position: -28px -0;
}
.link-youtube {
	background-position: -0 -28px;
}
.link-pinterest {
	background-position: -28px -28px;
}
.link-linkedin {
	background-position: -56px -0;
	border-radius: 3px;
}

// PRODUCT PAGE  ==============================================

.product-page {
	&__inner {
		display: flex;
	}

	&__aside {
		margin-right: 30px;
	}

	&__content {
	}

	&__filter {
	}

	&__items {
	}
}
.aside__item {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	padding: 0 32px 32px;
	margin-bottom: 30px;
	width: 270px;
}
.category {
	&__list {
		padding-top: 10px;
		li {
			display: flex;
			justify-content: space-between;
			padding: 10px 0 10px 20px;
			position: relative;
			&::before {
				content: "\f105";
				font-family: "icomoon";
				color: #8bc34a;
				font-size: 14px;
				position: absolute;
				left: 0;
			}
		}
	}
	a {
		color: $bg-dark;
		font-size: 15px;
	}
	span {
		color: #90a4ae;
		font-size: 15px;
		font-weight: 400;
		margin-left: 10px;
	}
}
.aside {
	&__title {
		border-bottom: 1px solid #d7d7d7;
		color: $bg-dark;
		font-size: 20px;
		font-weight: 700;
		padding: 24px 0 19px;
	}
}
.price-range {
}
.top-sellers {
}
.top-selects {
	&__link {
	}
}
.pagination {
	&__list {
	}
}
.active {
}
