@import "vars";
@import "global";
@import "fonts";

// HEADER ===================================================

.header {
	background-color: #fff;
	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
	}
	&__text {
		margin-left: auto;
		margin-right: 52px;
		font-weight: 400;
		color: #546e7a;
		& span {
			color: #e74c3c;
		}
	}
	&__phone {
		color: #546e7a;
	}
	&__box {
		display: flex;
		align-items: center;
		font-weight: 400;
	}
	&__btn {
		padding: 4px;
		width: 72px;
		border-radius: 4px;
		text-align: center;
		font-size: 12px;
		line-height: 24px;
		&-login {
			background-color: $booger;
			color: #fff;
			margin-right: 5px;
		}
		&-register {
			background-color: $tomato;
			color: #fff;
		}
		&-logout {
			background-color: $tomato;
			color: #fff;
		}
	}
	&__menu {
		background-color: $bg-dark;
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		height: 60px;
	}
	& li {
		display: block;
		& + li {
			margin-left: 38px;
		}
		& a {
			color: #fff;
			font-size: 14px;
			transition: all 0.4s;
			&:hover {
				color: $tomato;
			}
		}
	}
}

.header__circle {
	&.active {
		display: block;
	}
	display: none;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #a0a0a0;
		font-size: 14px;
	}
	span {
		position: absolute;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		text-align: center;
		line-height: 18px;
		color: #fff;
		right: -6px;
		top: -6px;
		font-size: 11px;
	}
}
.basket {
	span {
		background-color: $booger;
	}
}
.massege {
	span {
		background-color: #ef6c00;
	}
}
.notification {
	span {
		background-color: #fcb322;
	}
}
.header__login--off,
.header__register--off {
	display: none;
	&.header__login--on {
		display: block;
	}
}

.user {
	margin-right: 25px;
	padding-right: 20px;
	position: relative;
	&::before {
		content: "\f107";
		position: absolute;
		@include icon;
		font-size: 16px;
		color: #707070;
		top: 4px;
		right: 0;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__images {
		margin-right: 15px;
		width: 34px;
		height: 34px;
		overflow: hidden;
		border-radius: 50%;
		object-fit: cover;
	}
	&__info {
		font-size: 14px;
		line-height: 24px;
	}
	&__name {
		font-weight: 500;
		color: #222;
	}
	&__money {
		color: $booger;
		font-weight: 700;
	}
}
.user__menu {
	overflow: hidden;
	border: 0px solid rgb(204, 204, 204);
	background-color: #fff;
	position: absolute;
	padding: 0 20px;
	top: 70px;
	right: 8px;
	z-index: 2;
	width: 158px;
	height: 0;
	transition: all 0.4s;
	& li {
		& + li {
			margin-top: 20px;
		}
	}
	a {
		font-size: 12px;
		color: $slate;
	}
}
.user__box {
	position: relative;
	height: 90px;
	margin-top: 40px;
	&:hover {
		.user__menu {
			height: auto;
			border-width: 1px;
			padding: 20px;
		}
	}
}
.basket__menu,
.circle__menu {
	border: 0px solid rgb(204, 204, 204);
	background-color: #fff;
	position: absolute;
	top: 63px;
	right: 0;
	z-index: 2;
	width: 268px;
	height: 0;
	overflow: hidden;
}
.basket__box {
	margin-right: 20px;
}
.basket__box,
.massege__box,
.notification__box {
	margin-top: 54px;
	margin-left: 15px;
	position: relative;
	height: 90px;
	&:hover {
		.header__circle::before {
			color: $bg-dark;
		}
		.basket__menu,
		.circle__menu {
			height: auto;
			border-width: 1px;
		}
		.basket__item,
		.circle__item {
			border-width: 1px;
			padding: 20px;
		}
	}
}
.basket__item,
.circle__item {
	border-bottom: 0px solid rgb(204, 204, 204);
	padding: 0 20px;
	display: flex;
	align-items: center;
	transition: all 0.4s;
}
.circle__item {
	justify-content: space-between;
	position: relative;
}
.basket__images {
	margin-right: 17px;
	object-fit: cover;
}
.basket__info-name {
	font-size: 15px;
	font-weight: 500;
	color: $bg-dark;
	margin-bottom: 5px;
}
.basket__info-theme {
	font-size: 12px;
	color: #84b743;
	margin-bottom: 5px;
}
.basket__info-price {
	font-size: 16px;
	font-weight: 500;
	color: #000;
}
.basket__sum {
	padding: 17px;
}
.basket__title {
	font-size: 16px;
	font-weight: 700;
	padding: 0 22px 17px;
	display: flex;
	justify-content: space-between;
}
.basket__btn {
	font-size: 14px;
	font-weight: 700;
	padding: 12px 5px;
	text-align: center;
	color: $light-grey;
	background-color: $booger;
	width: 100px;
}
.basket__btn-checkout {
	width: 120px;
	margin-left: 6px;
	background-color: $tomato;
}

.circle__images {
	margin-right: 20px;
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 50%;
	object-fit: cover;
}
.circle__info {
	margin-right: auto;
	&-name {
		font-size: 12px;
		font-weight: 700;
		color: $bg-dark;
		margin-bottom: 7px;
	}
	&-theme {
		font-size: 11px;
		color: $booger;
		margin-bottom: 7px;
	}
	&-data {
		font-size: 10px;
		color: #707070;
	}
}
.circle__item {
	.icon-envelope-o,
	.icon-mail-reply,
	.icon-bell-o {
		position: absolute;
		top: 23px;
		right: 30px;
		font-size: 16px;
		color: $cool-grey;
	}
	.icon-bell-o {
		top: 28px;
	}
	.new-letter {
		color: #ef6c00;
	}
}
.notification__theme {
	font-size: 12px;
}
.header__btn-menu,
.menu__btn,
.header__btn-menu--inner {
	display: none;
}

// POPUP-LOGIN ====================================================

#modal {
	background-color: $booger;
	max-width: 732px;
	width: 100%;
	height: 488px;
}
.popup-login {
	&__title {
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		color: #fff;
		padding: 40px 0 35px;
		text-transform: uppercase;
	}

	&__form {
		max-width: 402px;
		margin: 0 auto;
		& label {
			position: relative;
			&::before {
				position: absolute;
				@include icon;
				color: #fff;
				font-size: 14px;
				left: 18px;
				top: 0;
			}
		}
		& input {
			width: 100%;
			height: 44px;
			padding: 15px 40px;
			background-color: #76ae36;
			border: none;
			margin-bottom: 9px;
			color: #fff;
			&::placeholder {
				color: #fff;
				font-size: 14px;
				font-weight: 400;
			}
		}
		& button {
			width: 140px;
			height: 50px;
			background-color: #fff;
			color: #000;
			border: none;
			box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			margin: 19px 10px 24px 0;
			cursor: pointer;
		}
		& a {
			color: #fff;
			font-size: 18px;
			font-weight: 400;
		}
	}
}
.popup-login__name::before {
	content: "\f007";
}
.popup-login__pass::before {
	content: "\f023";
}
.creat-an-account {
	background-color: #76ae36;
	width: 248px;
	padding: 15px 0 18px 30px;
	text-align: center;
	position: relative;
	&::before {
		content: "\f044";
		@include icon;
		position: absolute;
		top: 15px;
		left: 35px;
	}
}
.fancybox-button svg {
	color: #fff;
}

//  SEARCH =====================================================

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 536px;
	&.search__product-page {
		min-height: 230px;
		.search__inner {
			padding: 60px 0 68px;
			&-text {
				margin-bottom: 24px;
			}
		}
	}
	&__inner {
		text-align: center;
		color: #fff;
		padding: 156px 0 100px;
	}

	&__inner-title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 28px;
	}

	&__inner-text {
		font-size: 20px;
		margin-bottom: 50px;
	}

	&__inner-form {
		position: relative;
		margin: 0 auto;
		max-width: 670px;
	}
	& input {
		width: 100%;
		height: 56px;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 1px 10px 0 rgba(124, 178, 64, 0.75);
		font-size: 14px;
		font-weight: 500;
		padding-left: 25px;
		padding-right: 57px;
		&::placeholder {
			color: #90a4ae;
		}
	}
	& button {
		position: absolute;
		border: none;
		right: 13px;
		top: 15px;
		background-color: transparent;
		cursor: pointer;
	}
}

// PRODUCTS ==================================================

.products {
	padding: 121px 0 112px;
	background-color: $light-grey;
	&__inner-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner-btn {
		text-align: center;
		margin-bottom: 60px;
		& button {
			font-size: 14px;
			font-weight: 500;
			border: none;
			color: $bg-dark;
			padding: 12px 21px;
			background-color: #fff;
			cursor: pointer;
			& + button {
				margin-left: 6px;
			}
			&.mixitup-control-active {
				background-color: $tomato;
				color: #fff;
				outline: none;
			}
		}
	}
}
.product {
	&__item {
		max-width: 442px;
		width: 100%;
		box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
		margin-bottom: 30px;
	}

	&__item-mig {
		min-height: 250px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		background-color: #fff;
		border-bottom: 1px solid #e7ecf2;
	}

	&__item-name {
		max-width: 310px;
		font-weight: 500;
	}

	&__item-title {
		font-size: 18px;
		line-height: 35px;
		color: $bg-dark;
	}

	&__item-category {
		display: block;
		font-size: 14px;
		color: $booger;
	}

	&__item-price {
		font-size: 20px;
		color: $bg-dark;
	}

	&__item-info {
		min-height: 70px;
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
	}

	&__item-autor {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		max-width: 245px;
		.avatar {
			min-width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: inline-block;
			margin-right: 14px;
		}
	}

	&__item-star {
		color: #e1e6e9;
		font-size: 12px;
		white-space: nowrap;
		& span {
			color: $bg-dark;
		}
	}
}
.products__bottom-btn {
	text-align: center;
	button {
		margin: 45px 5px 0;
		box-shadow: 0px 1px 3px 0 rgba(204, 216, 228, 0.75);
		border: none;
		background-color: #fff;
		color: $bg-dark;
		padding: 20px 30px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $tomato;
			color: #fff;
			outline: none;
		}
	}
}

// SLIDER ================================================================

.slider {
	padding: 120px 0;
}
.slick-dots {
	text-align: center;
	margin-top: 60px;
	& li {
		display: inline-block;
		margin: 0 3px;
		&.slick-active {
			button {
				background-color: $booger;
			}
		}
		& button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: none;
			background-color: #e8e8e8;
			font-size: 0;
			outline: none;
			cursor: pointer;
		}
	}
}

// ADVENTAGES  ===========================================

.advantages {
	background-color: $bg-dark;
	min-height: 616px;
	padding: 120px 0 118px;
	&__title {
		color: #fff;
		margin-bottom: 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		text-align: center;
		max-width: 370px;
		padding: 0 20px;
		&:hover {
			.advantages__item-img {
				background-color: $booger;
				& svg {
					fill: #fff;
				}
			}
			.advantages__item-title {
				color: $booger;
			}
		}
	}

	&__item-img {
		width: 113px;
		height: 113px;
		background-color: #fff;
		margin: 0 auto 33px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.4s;
		& svg {
			transition: all 0.4s;
		}
	}

	&__item-title {
		color: #fff;
		font-size: 24px;
		margin-bottom: 26px;
		transition: all 0.4s;
	}

	&__item-text {
		color: $cool-grey;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
	}
}

// AUTOR  ================================================

.autor {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 761px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		max-width: 653px;
		width: 100%;
		min-height: 216px;
		background-color: $booger;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 70px 60px;
	}

	&__text {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		max-width: 300px;
		color: #fff;
		& span {
			font-weight: 700;
		}
	}

	&__btn {
		background-color: #fff;
		color: $bg-dark;
		font-size: 18px;
		line-height: 2;
		font-weight: 400;
		padding: 13px 40px;
		text-align: center;
	}
}

//   TUTORIALS  =========================================================

.tutorials {
	padding: 66px 0 121px;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 370px;
		width: 100%;
	}

	&__images {
		display: block;
		min-height: 270px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__text {
		font-size: 24px;
		font-weight: 700;
		line-height: 2.5;
		color: $bg-dark;
		background-color: #f8f8f8;
		text-align: center;
		padding: 18px 60px;
	}
}

// FOOTER  ===============================================================

.footer {
	background-color: $bg-dark;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 115px 0 150px;
		flex-wrap: wrap;
	}

	&__col {
		max-width: 270px;
		width: 100%;
		&-menu {
			max-width: 220px;
		}
	}

	&__col-title {
		font-family: "Raleway", sans-serif;
		font-size: 22px;
		color: #fff;
		line-height: 1.09;
		padding-bottom: 27px;
		margin-bottom: 30px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: $booger;
		}
	}

	&__col-text {
		color: $silver;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.6;
	}

	&__info {
		font-family: "Lato", sans-serif;
		font-size: 14px;
		line-height: 1.71;
		color: #fff;
		padding-left: 30px;
		position: relative;
		&::before {
			content: "\f041";
			position: absolute;
			left: 0;
			@include icon;
			font-size: 18px;
			color: $booger;
		}
	}

	&__info-address {
		margin-top: 24px;
	}

	&__info-phone {
		margin-top: 15px;
		&::before {
			content: "\f095";
		}
	}

	&__col-list li {
		margin-bottom: 17px;
		position: relative;
		& a {
			font-size: 15px;
			color: $silver;
			padding-left: 20px;
			&::before {
				content: "\f105";
				@include icon;
				color: $booger;
				font-size: 18px;
				position: absolute;
				left: 0;
			}
		}
	}

	&__social-link {
		margin-bottom: 33px;
		li {
			display: inline-block;
			+ li {
				margin-left: 7px;
			}
			a {
				width: 28px;
				height: 28px;
				background-image: url(../images/icons/css_sprites.png);
			}
		}
	}

	&__form {
		position: relative;
		input {
			background-color: #2f3c43;
			border: none;
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 2.57;
			padding: 3px 60px 3px 16px;
			border-top: 1px solid #000;
			color: #fff;
			&::placeholder {
				color: #697378;
			}
		}
		button {
			width: 48px;
			height: 41px;
			background-color: $booger;
			position: absolute;
			right: 0;
			bottom: 0;
			border: none;
			cursor: pointer;
			&::before {
				content: "\f124";
				position: absolute;
				bottom: 10px;
				left: 15px;
				@include icon;
				font-size: 20px;
				color: #fff;
			}
		}
	}

	&__form-title {
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		line-height: 1.8;
		margin-bottom: 17px;
	}

	&__copy {
		border-top: 1px solid #424d53;
		padding: 19px 0;
	}

	&__copy-text {
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		color: #919699;
		line-height: 2.4;
	}
}

.link-twitter {
	background-position: -28px -0;
}
.link-youtube {
	background-position: -0 -28px;
}
.link-pinterest {
	background-position: -28px -28px;
}
.link-linkedin {
	background-position: -56px -0;
	border-radius: 3px;
}

// PRODUCT PAGE  ==============================================

.product-page {
	&__inner {
		display: flex;
		padding-bottom: 80px;
	}

	&__aside {
		margin-right: 30px;
	}

	&__content {
		width: 100%;
	}

	&__filter {
		background-color: #fff;
		border: 1px solid #d7d7d7;
		padding: 0 20px;
		margin-bottom: 30px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		button {
			cursor: pointer;
			background-color: transparent;
			border: none;
			color: #90a4ae;
			&.active {
				color: $booger;
			}
		}
		&-sort {
			display: flex;
			align-items: center;
		}
	}
}
.product-page__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.product__item {
		max-width: 269px;
		transition: all 0.5s;
		&:hover {
			box-shadow: 0px 16px 20px 0 rgba(216, 216, 216, 0.75);
		}
	}
	.product__item-mig {
		min-height: 180px;
	}
	.product__item-title {
		font-size: 16px;
	}
	.product__item-info {
		padding: 10px 22px;
	}
	.rate-star {
		margin-right: 8px;
	}
}
.aside__item {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	padding: 0 32px 32px;
	margin-bottom: 30px;
	width: 270px;
}
.category {
	&__list {
		padding-top: 10px;
		li {
			display: flex;
			justify-content: space-between;
			padding: 10px 0 10px 20px;
			position: relative;
			&::before {
				content: "\f105";
				font-family: "icomoon";
				color: #8bc34a;
				font-size: 14px;
				position: absolute;
				left: 0;
			}
		}
	}
	a {
		color: $bg-dark;
		font-size: 15px;
	}
	span {
		color: #90a4ae;
		font-size: 15px;
		font-weight: 400;
		margin-left: 10px;
	}
}

.irs--flat .irs-line {
	height: 5px;
	background-color: #f2f5f8;
}
.irs--flat .irs-bar {
	height: 5px;
	background-color: #37474f;
}
.irs--flat .irs-max,
.irs--flat .irs-min {
	display: none;
}
.irs-with-grid .irs-grid {
	display: none;
}
.irs--flat .irs-handle > i:first-child {
	position: absolute;
	display: block;
	top: -2px;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-left: -1px;
	background-color: #fff;
	border: 4px solid $booger;
	border-radius: 50%;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
	background-color: $booger;
}
.irs-from,
.irs-single,
.irs-to {
	top: 35px;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	color: #78909c;
	font-size: 15px;
	line-height: 2.67;
	text-shadow: none;
	padding: 0;
	background-color: transparent;
	border-radius: 0px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}

.aside {
	&__title {
		border-bottom: 1px solid #d7d7d7;
		color: $bg-dark;
		font-size: 20px;
		font-weight: 700;
		padding: 24px 0 19px;
	}
}
.price-range-btn {
	width: 100%;
	background-color: $booger;
	color: #fff;
	margin-top: 25px;
	padding: 17px 77px 17px 82px;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	position: relative;
	cursor: pointer;
	&::before {
		content: "\f002";
		@include icon;
		position: absolute;
		left: 56px;
		top: 16px;
		color: #fff;
		font-size: 15px;
		font-weight: 400;
	}
}
.top-sellers__items {
	.product__item {
		box-shadow: none;
		border-bottom: 1px solid #e7ecf2;
		padding-bottom: 25px;
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
		&:first-child {
			margin-top: 28px;
		}
	}
	.product__item-mig {
		min-height: 121px;
	}
	.product__item-content {
		min-height: 70px;
		padding: 0;
		border: none;
	}
	.product__item-title {
		font-size: 16px;
	}
	.product__item-price {
		font-size: 16px;
	}
	.product__item-info {
		padding: 0;
		min-height: 40px;
	}
	.product__item-star {
		font-size: 0;
	}
	.rate-star {
		margin: 0;
	}
}
.top-sellers__link {
	display: block;
	width: 100%;
	background-color: $booger;
	color: #fff;
	padding: 17px 70px;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}

.product-page__filter-sort {
	color: #707070;
}
button.icon-sort-amount-desc {
	font-size: 14px;
	color: #455a64;
	padding-right: 13px;
}
button.icon-unsorted {
	font-size: 18px;
	color: #707070;
	padding-left: 13px;
}
.icon-th-large,
.icon-th-list {
	outline: none;
}
.product__item-text {
	display: none;
}
.product__item-sales {
	display: none;
}
.product__item-like {
	display: none;
}

.product__item {
	&.list {
		max-width: 100%;
		.product__item-mig {
			width: 239px;
			float: left;
			min-height: 100%;
		}
		.product__item-name {
			max-width: 470px;
		}
		.product__item-text {
			display: block;
			color: #70838d;
			padding: 12px 0;
		}
		.product__item-price {
			font-size: 30px;
			text-align: end;
		}
		.product__item-sales {
			display: block;
			font-size: 13px;
			color: #aeb4bb;
			margin-top: 15px;
		}
		.product__item-like {
			display: block;
			.icon-heart-o,
			.icon-comment-o {
				display: inline-block;
				font-size: 12px;
				color: #aeb4bb;
				padding-left: 50px;
				border-left: 1px solid #aeb4bb;
				position: relative;
				span {
					font-family: Roboto;
					font-weight: 500;
					color: $bg-dark;
				}
				&::before {
					color: $booger;
					font-size: 16px;
					position: absolute;
					left: 20px;
				}
			}
			.icon-comment-o {
				padding-right: 30px;
				&::before {
					top: -2px;
				}
			}
		}
		.product__item-star {
			margin-left: auto;
			margin-right: 30px;
		}
	}
}

.pagination {
	&__list {
		li {
			display: inline-block;
			& + li {
				margin-left: 8px;
			}
		}
		a,
		span {
			width: 43px;
			height: 38px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			color: $bg-dark;
			box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
			font-size: 16px;
			cursor: pointer;
			margin-top: 30px;
			&.pagination__list-active {
				background-color: $tomato;
				color: #fff;
			}
		}
	}
}

//  ABOUT-PRODUCT =========================================

.about-product {
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		margin-right: 30px;
	}

	&__wrap {
		max-width: 869px;
		height: 458px;
		border: solid 1px #d7d7d7;
		background-color: #ffffff;
		padding: 20px;
		margin-bottom: 40px;
	}
	&__images {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		font-size: 30px;
		font-weight: 500;
		color: $bg-dark;
		line-height: 40px;
	}

	&__text {
		font-size: 16px;
		color: #707070;
		line-height: 24px;
		margin-bottom: 45px;
	}

	&__inner {
		display: flex;
		margin-bottom: 55px;
	}

	&__btn {
		font-size: 16px;
		font-weight: 500;
		color: $light-grey;
		padding: 19px 5px;
		width: 138px;
		text-align: center;
		& + a {
			margin-left: 18px;
		}
	}

	&__social {
		& + a {
			margin-left: 3px;
		}
	}
}
.live {
	background-color: $tomato;
}
.screenshots {
	background-color: #455a64;
}
.documentation {
	background-color: $booger;
}
.social__icon {
	font-size: 18px;
	color: #fff;
	width: 50px;
	height: 54px;
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.icon-facebook {
	background-color: #6370b6;
}
.icon-twitter {
	background-color: #64b5f6;
}
.icon-linkedin {
	background-color: #4f71ce;
}
.icon-pinterest-p {
	background-color: #d32f2f;
}
.about-product__tabs {
	max-width: 870px;
	margin-bottom: 52px;
}
.tabs {
	border: 1px solid #d7d7d7;
	display: flex;
	text-align: center;
}
.tab {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	color: #70838d;
	background-color: #fff;
	padding: 20px 0;
	cursor: pointer;
	& + .tab {
		border-left: 1px solid #d7d7d7;
	}
}
.tab.active {
	color: $bg-dark;
	border-bottom: 3px solid $booger;
	font-weight: 500;
}
.tabs {
	&__content {
		background-color: #fff;
		border: 1px solid #d7d7d7;
		border-top: none;
		padding: 38px 38px 66px;
	}
}
.tab-item {
	display: none;
	&:first-child {
		display: block;
	}
}
.about-product__list {
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	color: #707070;
	column-count: 2;
}
.more-product {
	&__title {
		width: 100%;
		border: 1px solid #d7d7d7;
		background-color: #fff;
		font-size: 18px;
		font-weight: 500;
		color: $bg-dark;
		line-height: 12px;
		padding: 21px 28px;
		margin-bottom: 28px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 270px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
		display: flex;
		align-items: center;
		margin-bottom: 28px;
	}

	&__images {
		width: 100px;
		min-height: 90px;
		object-fit: cover;
	}

	&__info {
		padding: 17px 21px 10px;
	}

	&__info-name {
		color: $bg-dark;
		margin-bottom: 7px;
	}

	&__info-theme {
		font-size: 12px;
		font-weight: 400;
		color: $booger;
		margin-bottom: 7px;
	}

	&__info-price {
		font-size: 18px;
		font-weight: 700;
		color: $bg-dark;
	}
}

.about-product {
	&__aside {
		max-width: 270px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 31px 0 33px;
	}

	&__cost {
		font-size: 22px;
		font-weight: 500;
		color: $tomato;
		line-height: 40px;
	}

	&__profile {
		margin-top: 25px;
		margin-bottom: 20px;
		display: flex;
	}

	&__name {
		font-size: 18px;
		color: $bg-dark;
		margin-bottom: 10px;
	}

	&__awards {
		display: flex;
	}

	&__info {
		color: $bg-dark;
		margin-top: 24px;
		& li {
			line-height: 20px;
		}
		& li + li {
			margin-top: 18px;
		}
		& span {
			color: #70838d;
			font-weight: 400;
		}
	}
}
.aside__item.about-product__sales {
	padding: 23px 28px;
}
.sales-num {
	font-size: 20px;
	font-weight: 700;
	color: $bg-dark;
	& span {
		color: #707070;
		font-size: 16px;
		font-weight: 300;
		padding-left: 5px;
	}
	&::before {
		color: #a6b5bb;
		font-size: 20px;
		padding-right: 5px;
	}
}
.shield {
	width: 34px;
	height: 37px;
	text-align: center;
	padding-top: 7px;
	&::before {
		font-size: 20px;
		color: #fff;
	}
	& + li {
		margin-left: 8px;
	}
}
.profile__images {
	margin-right: 14px;
}
.profile__info-link {
	border: 1px solid #ccc;
	background-color: #fff;
	color: #707070;
	font-size: 13px;
	font-weight: 400;
	width: 92px;
	padding: 8px 0;
	text-align: center;
	cursor: pointer;
}
.product-price__btn {
	box-shadow: 0px 1px 2px 0 rgba(69, 90, 100, 0.75);
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 18px 5px;
	width: 100%;
	font-family: "Roboto", sans-serif !important;
	border: none;
	margin-bottom: 8px;
	color: #fff;
	cursor: pointer;
	&::before {
		font-size: 16px;
		font-weight: 400;
		@include icon;
		margin-right: 8px;
	}
}
.cart {
	background-color: $booger;
}
.favourites {
	background-color: #42a5f5;
}
.now {
	background-color: $slate;
}

@import "media";
